.partners {

    background-color: rgba($accent, 0.2);

    &__list {
        padding: 86px 0;

        @media(max-width: $tablet) {
            padding: 65px 0;
        }

        @media(max-width: $small-phone) {
            padding: 55px 0;
        }
    }

    &__img {
        margin: 0 auto;
        max-height: 84px;
    }
}