.partners {

    background-color: rgba($accent, 0.2);

    &__list {
        padding: 5% 0 7%;

        @media(max-width: $tablet) {
            padding: 7% 0 7%;
        }
    }

    &__img {
        margin: 0 auto;
    }

    @media(max-width: $small-phone) {
        display: none;
    }
}