.banner {

    &__slider {
        max-height: 76vh;
    }

    &__item {
        font-family: 'Rubik', sans-serif;
        background-color: $accent;
        min-height: 76vh;
        height: 1vh;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @media(max-width: $extra-large) {
            padding: 0 40px;
        }

        @media(max-width: $tablet) {
            padding: 0;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    &__content {
        max-width: 450px;
        margin-bottom: 55px;

        @media(max-width: $extra-large) {
            width: 65%;
        }

        @media(max-width: $tablet) {
            order: 1;
            text-align: center;
            width: 100%;
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 25px;
        display: block;
        max-width: 415px;
        font-size: 71px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: $dark-blue;

        @media(max-width: $extra-large) {
            max-width: 100%;
        }

        @media(max-width: $tablet) {
            margin-bottom: 20px;
            padding: 0 15px;
            font-size: 65px;
        }

        @media(max-width: $medium) {
            font-size: 52px;
        }

        @media(max-width: $small-phone) {
            font-size: 35px;
        }
    }

    &__text {
        margin-bottom: 41px;
        max-width: 359px;
        display: block;
        font-size: 18px;
        line-height: 1.67;
        color: $grey-blue;

        @media(max-width: $tablet) {
            margin-bottom: 20px;
            padding: 0 15px;
            max-width: 100%;
        }
    }

    &__link {
        padding: 21px 100px 21px 27px;
        max-width: 200px;

        @media(max-width: $tablet) {
            margin: 0 auto;
        }

        @media(max-width: $medium) {
            padding: 13px 42px 13px 27px;
            max-width: 143px;
        }

        @media(max-width: $small-phone) {
            padding: 10px 19px 10px 11px;
            max-width: 123px;
            
            .link-button__icon {
                display: none;
            }
        }
    }

    &__img {
        position: relative;
        z-index: 1;
        min-height: 34%;
        height: 1px;
        min-width: 640px;
        width: 1px;

        img {
            height: 100%;
            margin: 0 auto;
        }
        
        &:after {
            content: '';
            margin-right: 9%;
            position: absolute;
            right: -27%;
            bottom: 50%;
            transform: translateY(50%);
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 236%;
            background-image: linear-gradient(-90.0deg, #fff 0%, rgba(255,255,255,0.0) 100%);
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;

            @media(max-width: $extra-large) {
                height: 214%;
                margin-right: 28%;
            }

            @media(max-width: $tablet) {
                display: none;
            }
        }

        @media(max-width: $extra-large) {
            min-width: 55%;
        }

        @media(max-width: $tablet) {
            padding-top: 40px;
            margin-bottom: 20px;
            order: 0;
            max-width: 80%;
        }

        @media(max-width: $small-phone) {
            min-height: 33%;
        }
    }
}

.features {
    display: flex;
    justify-content: space-between;

    @media(max-width: $tablet) {
        flex-direction: column;
        align-items: center;
    }

    &__item {
        padding: 40px 0 40px 71px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 33.333%;
        background-color: rgba($accent, 0.2);
        border-right: 1px solid rgba($dark-blue, 0.1);
        transition: background-color 0.5s;

        &:hover {
            background-color: rgba(231, 181, 137, 0.2);
        }

        @media(max-width: $tablet) {
            padding: 40px;
            width: 100%;
        }

        @media(max-width: $small-phone) {
            padding: 40px 17px 0 77px;

            &:last-child {
                padding: 40px 17px 20px 77px;
            }
        }
    }

    &__title {
        position: relative;
        max-width: 213px;
        width: 100%;
        font-size: 18px;
        line-height: 1.5;
        color: $dark-grey;   
        text-align: left;

        &::before {
            position: absolute;
            content: '';
            left: -73px;
            top: 5px;
        }

        &--support::before {
            content: url('../images/features/support.svg');
        }
    
        &--delivery::before {
            content: url('../images/features/delivery.svg');
        }
    
        &--payment::before {
            content: url('../images/features/payment.svg');
        }   
        
        @media(max-width: $medium) {
            font-size: 17px;
        }
    }

    &__text {
        max-width: 214px;
        width: 100%;
        line-height: 1.9;
        color: #585858;
    }
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 5.6%;

    button {
        margin-right: 9px;
        font-size: 11px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        opacity: 0.3;
        background-color: #fff;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }

        @media(max-width: $tablet) {
            font-size: 0;
            width: 17px;
            height: 16px;
        }
    }

    @media(max-width: $tablet) {
        bottom: 2%;
    }
}

.slick-active {
    
    button {
        opacity: 1;
    }
}