.novelty {

    padding: 54px 0 60px;

    @media(max-width: $tablet) {
        padding-top: 80px;
    }

    @media(max-width: $small-phone) {
        padding: 50px 0 10px;
    }

    &__filter {
        margin: 8px 0 54px;

        @media(max-width: $small-phone) {
            margin: 20px 0 27px;
        }
    }

    &__list {
        margin-bottom: 92px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        animation: fadeInLeft 1.5s;
    
        @media(max-width: $extra-large) {
            justify-content: space-around;
        }
    
        @media(max-width: $small-phone) {
            justify-content: center;
        }
    }

    &__video {
        position: relative;
        display: block;
        min-height: 500px;
        background-image: url('../images/video/video.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: fadeIn 1s;

        &:hover {
            .novelty__video-icon {
                width: 145px;
                height: 145px;
            }
        }

        @media(max-width: $extra-large) {
            min-height: 420px;
        }

        @media(max-width: $tablet) {
            min-height: 370px;
        }

        @media(max-width: $medium) {
            min-height: 260px;
        }

        @media(max-width: $small-phone) {
            min-height: 165px;
        }
    }

    &__video-icon {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        transition: width 0.5s, height 0.5s;

        @media(max-width: $medium) {
            width: 100px;
            height: 100px;
        }

        @media(max-width: $small-phone) {
            width: 80px;
            height: 80px;
        }
    }
}