%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

$accent: #fcd7b6;

$accentBG: rgba(#fcd7b6 , 0.2);

$hover: #a3bbc8;

$productName: #243f4d;

$footer: #7b7b7b;

$linkButton: #243f4d;

$blog: #262626;

$footerTitle: #1f2044;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{a}x(#{$numbers});
}