$accent: #fcd7b6;

$sky-blue: #a3bbc8;

$dark-blue: #243f4d;

$grey-blue: #436372;

$light-grey: #7b7b7b;

$dark-grey: #414141;

$dark: #262626;

$small-phone: 576px;

$medium: 768px;

$tablet: 1024px;

$large: 1200px;

$extra-large: 1400px;

%limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{a}x(#{$numbers});
}