%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%DMSans-400 {
    font-weight: 400;
}

%DMSans-500 {
    font-weight: 500;
}

%DMSans-700 {
    font-weight: 700;
}

$accent: #fcd7b6;

$hover: #a3bbc8;

$productName: #243f4d;

$footer: #7b7b7b;