.filter-list {

    margin: 12px 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 1s;

    &__item {
        &:not(:last-child) {
            margin-right: 26px;
        }
    }

    &__button {
        padding: 15px 0;
        font-weight: 700;

        @media(max-width: $tablet) {
            font-size: 18px;
        }

        @media(max-width: $small-phone) {
            padding: 9px 0;
        }

        &:hover {
            color: #1a1a1a;
        }

        &:focus {
            outline-color: $accent;
            color: $grey-blue;
        }

        &:active {
            color: $accent;
        }
    }
    
    @media(max-width: $small-phone) {
        margin: 20px 0 27px;
    }
}