.filter {

    margin: 1% 0 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__product {
        margin-bottom: 162px;
    }

    &__novelty {
        margin-bottom: 90px;
    }

    &__list {
        margin: 1.3% 0 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 26px;
        }
    }

    &__button {
        padding: 15px 0;
        font-weight: 700;

        @media(max-width: $small-phone) {
            padding: 9px 0;
        }

        &:hover {
            color: #1a1a1a;
        }

        &:active, &:focus {
            color: $accent;
        }
    }
}