.form {

    &__email {
        padding: 16px 12px;
        margin-right: -3px;
        width: 170px;
        height: 38px;
        @extend %slideColor;
        background-color: rgba(252,215,182,0.2);
        border: none;
        transition: box-shadow 0.5s;
        outline: transparent;
        &::placeholder {
            color: $placeholderColor;
        }

        &:hover, &:focus {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }

    &__button {
        width: 100px;
        height: 38px;
        position: relative;
        color: $whiteColor;
        background-color: #a3bbc8;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
            background: #383736;
            z-index: -1;
            transition: all 0.5s;
        }

        &:hover::before {
            top: 0;
        }
    }
}