.logo {
    padding: 5px 0;
    width: 17%;
    z-index: 51;

    &--footer {
        padding-bottom: 24px;
        display: block;
        width: 100%;

        @media(max-width: $small-phone) {
            
            .logo__img {
                margin: 0 auto;
            }
        }
    }

    @media(max-width: $tablet) {
        width: 50%
    }
}