.products-card {

    &__content {
        position: relative;
    }

    &__img {
        padding-top: 50px;
        transition: transform 0.5s;
    }

    &__descr {
        padding: 64px 0 38px;
    }

    &__title {
        font-size: 16px;
        @extend %DMSans-500;
        line-height: 2.5;
        color: #243f4d;
    }

    &__cost {
        @extend %DMSans-700;
        color: #a3bbc8;
    }

    &__choise {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 37%;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__link {
        display: flex;
        margin-right: 19px;
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
        background-position: 11px;
        border-radius: 50%;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #ffffff;
        transition: background-color 0.5s;
    }

    &:hover &__choise {
        opacity: 1;
    }

    &:hover &__img {
        transform: scale(1.1);
    }
}