.product {

    margin: 0 10px 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 270px;
    width: 100%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    overflow: hidden;
    text-align: center;

    &:hover {
        .product__top {
            transform: scale(1.1);
        }
    }

    &:hover {
        .product__menu {
            opacity: 1;
        }
    }

    @media(max-width: $large) {
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.15);
    }

    @media(max-width: $small-phone) {
        margin: 0 0 30px 0;
    }

    &--list {
        flex-direction: unset;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 100%;
        box-shadow: none;
        
        .product {
            
            &__top {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 82px 23px;
                width: 370px;
                height: 100%;
                border: 2px solid #f2f2f2;
            }

            &__img {
                height: max-content;
                width: inherit;
            }

            &__menu {
                display: none;
            }

            &__box {
                padding: 92px 15px 79px 57px;
                align-items: flex-start;
            }

            &__name {
                margin-bottom: 25px;
                font-size: 40px;
                line-height: 1.2;
                color: #333333;
            }

            &__star {
                padding: 0;
                margin-bottom: 37px;
                display: block;
            }

            &__cost {
                margin-bottom: 36px;
                font-size: 30px;
                color: #333333;
            }

            &__descr {
                margin-bottom: 34px;
                display: block;
                font-size: 16px;
                color: $dark-blue;
            }

            &__button {
                padding: 16px 20px;
                background-color: $accent;
            }
        }

        &:hover {
            .product__top {
                transform: scale(1.0);
            } 
        }
    }

    &__top {
        padding: 50px 15px 0;
        position: relative;
        display: block;
        height: fit-content;
        transition: transform 0.5s;
    }

    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        color: $dark-blue;

        @media(max-width: $tablet) {
            font-size: 18px;
        }

        @media(max-width: $medium) {
            font-size: 20px;
        }
    }

    &__star {
        display: none;
        z-index: 1;
    }

    &__cost {
        font-weight: 700;
        color: $sky-blue;

        @media(max-width: $tablet) {
            font-size: 18px;
        }

        @media(max-width: $medium) {
            font-size: 19px;
        }
    }

    &__descr {
        display: none;
        text-align: left;
    }

    &__menu {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 26px;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__menu-item {
        transition: all 0.5s;

        .product__menu-icon {
            fill: $sky-blue;
            margin: auto;
        }
    }

    &__action {
        margin-right: 19px;
        display: flex;
        width: 45px;
        height: 45px;
        background-color: #fff;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        transition: background-color 0.5s;

        &:first-child {
            border-radius: 50%;
        }

        &:hover {
            background-color: $sky-blue;
            .product__menu-icon {
                fill: #fff;
            }
        }

        &:focus {
            background-color: $accent;
            outline: transparent;

            .product__menu-icon {
                fill: $dark-blue;
            }
        }

        &:active {
            box-shadow: 0 0 18px 0 $accent;
        }
    } 

    &__box {
        padding: 64px 0 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 404px;
        

        @media(max-width: $small-phone) {
            padding: 25px 0 38px;
        }
    }
}

.mixitup-control-active {
    color: #1a1a1a;
}