.product-types {

    @extend %flexCenter;
    padding-bottom: 2.5%;

    &__type {
        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.product-types__type-button {
    padding: 15px 0;
    @extend %DMSans-700;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #8b8b8b;
    transition: color 0.5s;
    
        &:hover {
            color: #1a1a1a;
        }
}

.mixitup-control-active {
    color: #1a1a1a;
}