.product {

    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
        margin: 0 10px 30px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        max-width: 270px;
        width: 100%;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #fff;
        text-align: center;

        &:hover .product__img {
            transform: scale(1.1);
        }

        &:hover .product__menu {
            opacity: 1;
        }
    }

    &__img {
        position: relative;
        display: block;
        padding-top: 50px;
        transition: transform 0.5s;
    }

    &__name {
        padding-top: 64px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        color: $dark-blue;
    }

    &__cost {
        padding-bottom: 38px;
        font-weight: 700;
        color: $sky-blue;
    }

    &__menu {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 26px;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__menu-item {
        transition: all 0.5s;
        svg {
            fill: $sky-blue;
            margin: auto;
        }
    }

    &__action {
        margin-right: 19px;
        display: flex;
        width: 45px;
        height: 45px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        transition: background-color 0.5s;

        &:first-child {
            border-radius: 50%;
        }

        &:hover {
            background-color: $sky-blue;
        }

        &:hover, &:focus {
            svg {
                fill: #fff;
            }
        }

        &:focus, &:active {
            background-color: $accent;

            svg {
                fill: $dark-blue;
            }
        }
    } 
}

.mixitup-control-active {
    color: #1a1a1a;
}