.blog {

    position: relative;

    &__title {
        margin-bottom: 3.2%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__link {
        position: relative;
        padding: 12px 25px;
        font-size: 16px;
        font-family: 'DMSans' , sans-serif;
        font-weight: 700;
        color: $dark;
        transition: color 0.3s;

        &::after {
            position: absolute;
            content: '>';
            right: 0;
        }

        &:hover {
            color: $accent;
        }

        &:focus, &:active {
            color: $sky-blue;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        max-width: 370px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba($dark, 0.05);
        transition: box-shadow 0.5s, background-color 0.5s;
        color: $dark;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            box-shadow: 0 0 35px $sky-blue;

            .blog__type {
                background-color: $accent;
                color: $dark;
            }
        }

        &:active, &:focus {
            background-color: $sky-blue;
        }
    }

    &__img {
        position: relative;
    }

    &__type {
        padding: 8px 32px;
        position: absolute;
        bottom: -16px;
        left: 7%;
        font-size: 14px;
        color: #fff;
        border-radius: 20px;
        background-color: $sky-blue;
        transition: color 0.5s, background-color 0.5s;
    }

    &__subtitle {
        padding: 33px 27px 0 27px;
        padding-bottom: 18px;
        flex: 1 1 auto;
        max-width: 335px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
    }

    &__info {
        padding: 18px 27px 27px 51px;
        display: flex;
        justify-content: flex-start;
        color: #222933;
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        border-top: 1px solid #e0e0e0;
        text-transform: uppercase;
    }

    &__date, &__author {
        position: relative;

        &::before {
            content: '';
            left: -27px;
            top: -8px;
            position: absolute;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__date {
        margin-right: 50px;

        &::before {
            background-image: url(../../../images/blog/calendar.svg);
            background-size: 27px;
        }
    }

    &__author {

        &::before {
            background-image: url(../../../images/blog/author.svg);
            background-size: 18px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-color: rgba($accent, 0.2);
        max-height: 174px;
        height: 100%;
        width: 100%;
        bottom: 0;
    }
}