.blog {

    position: relative;

    &__top{
        margin-bottom: 38px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__link {
        padding: 12px 0;
        font-size: 16px;
        font-family: 'DMSans' ,'sans-serif';
        font-weight: 700;
        color: $blog;
        transition: color 0.3s, box-shadow 0.3s;

        svg {
            transition: fill 0.3s;
            margin-left: 14px;
        }

        &:hover {
            color: $accent;

            svg {
                fill: $accent;
            }
        }

        &:focus, &:active {
            color: $hover;

            svg {
                fill: $hover;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 370px;
        background-color: #fff;
        transition: box-shadow 0.5s, background-color 0.5s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            box-shadow: 0 0 35px $hover;
        }

        &:active, &:focus {
            background-color: $hover;

            .blog__type {
                background-color: $accent;
                color: $blog;
            }
        }
    }

    &__item-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__type {
        padding: 8px 32px;
        position: absolute;
        top: 233px;
        left: 7%;
        font-size: 14px;
        color: #fff;
        border-radius: 20px;
        background-color: $hover;
        transition: color 0.5s, background-color 0.5s;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 33px 27px 0 27px;
        color: $blog;
    }

    &__subtitle {
        padding-bottom: 18px;
        flex: 1 1 auto;
        max-width: 292px;
        font-weight: 500;
        font-size: 18px;
    }

    &__info {
        padding: 17px 0 27px;
        display: flex;
        color: #222933;
        @extend %rubik-400;
        font-size: 12px;
        border-top: 1px solid #e0e0e0;
    }

    &__data {
        margin-right: 46px;
    }

    &::before {
        content: '';
        position: absolute;
        background-color: $accentBG;
        max-height: 174px;
        height: 100%;
        width: 100%;
        bottom: 0;
    }
}