.video {
    margin-bottom: 110px;
    position: relative;
    height: 500px;
    background-image: url('../images/video/video.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        z-index: -1;
        transition: all 0.3s linear;
        opacity: 0;
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../images/video/circle.svg');
        background-size: 98px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
        transition: background-image 1s;

        &::after {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            content: '';
            background-image: url('../images/video/play.svg');
            background-size: 22px 25px;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            transition: background-size 0.5s;
        }
    }

    &:hover{
        &::before {
            opacity: 1;
            z-index: 2;
        }
        
        .video__link {
            background-image: url('../images/video/play2.svg');
            background-size: 127px;

            &::after {
                background-size: 32px 35px;
            }
        }
    }
}