.products {
    padding-top: 68px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        @media(max-width: $large) {
            justify-content: space-around;
        }
    
        @media(max-width: $small-phone) {
            justify-content: center;
        }
    }

    @media(max-width: $tablet) {
        padding-top: 85px;
    }

    @media(max-width: $small-phone) {
        padding-top: 65px;
    }
}