.top {

    &__inner {
        padding: 25px 0 32px;
        background-color: rgba($sky-blue, 0.2);
    }

    &__title {
        margin-bottom: 7px;
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        color: #222933;
    }
}

.breadcrubms {
    display: flex;
    justify-content: center;

    &__item {
        position: relative;
        &:not(:last-child) {
            padding-right: 20px;;
            &::after {
                content: '/';
                position: absolute;
                right: 6px;
                top: 1px;
                color: rgba(#222933, 0.6);
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: rgba(#222933, 0.6);

        &:hover {
            color: #222933;
        }

        &:active, &:focus {
            color: $accent;
        }
    }
}
