.shop {
    padding: 118px 0;

    @media(max-width: $tablet) {
        padding: 90px 0;
    }

    @media(max-width: $medium) {
        padding: 65px 0 40px;
    }

    @media(max-width: $small-phone) {
        padding: 50px 0 30px;
    }

    &__inner {
        position: relative;
        display: flex;
    }

    &__filters {
        margin-right: 27px;
        max-width: 270px;
        width: 100%;

        @media(max-width: $tablet) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -14px;
            right: 0;
            max-width: 280px;
            z-index: 11;
            background-color: white;
            transform: translateX(-200%);
            transition: transform 0.5s;
        }

        &--active {
            transform: translateX(0);
            height: fit-content;
        }
    }

    &__content {
        width: 100%;
    }

    &__sort {
        margin-bottom: 30px;
        padding: 23px 31px 21px;
        border: 1px solid rgba($sky-blue, 0.6);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
            margin-top: -5px;
        }
    }

    &__switch {
        transition: fill 0.3s;
        &--active {
            fill: red;
        }
    }

    &__filter {
        display: none;
        z-index: 10;

        @media(max-width: $tablet) {
            display: block;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $large) {
            justify-content: space-around;
        }
    }
}

.filter {

    &__title {
        margin-bottom: 25px;
        position: relative;
        display: inline-block;
        font-size: 18px;
        color: $dark-blue;
        text-align: left;
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: '';
            bottom: 50%;
            right: -54px;
            height: 3px;
            width: 39px;
            background-color: $sky-blue;
        }

        @media(max-width: $tablet) {
            padding-left: 10px;
        }
    }

    &__item {
        margin-bottom: 60px;

        @media(max-width: $tablet) {
            padding: 15px 10px 0 15px;
        }

        @media(max-width: $medium) {
            margin-bottom: 35px;
        }

        @media(max-width: $small-phone) {
            margin-bottom: 20px;
        }
    }

    &__label {
        display: block;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__input {
        &:checked + .filter-type__checkbox {
            background-color: rgba($sky-blue, 0.2);
            border-radius: 5px;
            
            .filter-type__count {
                color: $dark-blue;
            }
        }
    }
}

.filter-type {

    &__checkbox {
        padding: 15px 22px 14px 14px;
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik', sans-serif;
        color: $dark-blue;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {

            @media(min-width: $tablet) {
                background-color: rgba($sky-blue, 0.1);

                .filter-type__count {
                    color: $dark-blue;
                }
            }
        }

        @media(max-width: $small-phone) {
            padding: 15px 22px 14px 10px;
        }
    }

    &__count {
        color: #b3b3b3;
    }
}

.filter-price {

    &__label {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__form {
        @media(max-width: $tablet) {
            padding: 0 10px;
        }
    }
}

.irs--flat .irs-line {
    top: 10px;
    height: 3px;
    background-color: rgba($sky-blue, 0.66);
    border-radius: 4px;
}

.irs-max, .irs-min {
    display: none;
}

.irs--flat .irs-bar {
    top: 10px;
    height: 4px;
    background-color: $sky-blue;
}

.irs-from, .irs-to, .irs-single {
    display: none;
}

.irs--flat .irs-handle {
    top: 4px;
    width: 15px;
    height: 15px;
    background-color: $sky-blue;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}