.banner {

    &__slider {
        max-height: 76vh;
    }

    &__item {
        font-family: 'Rubik', sans-serif;
        background-color: $accent;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 76vh;

        @media(max-width: $large) {
            min-height: 55vh;
        }

        @media(max-width: $tablet) {
            min-height: 40vh;
        }

        @media(max-width: $medium) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        @media(max-width: $small-phone) {
            min-height: 45vh;
        }
    }

    &__content {
        max-width: 450px;
        margin-bottom: 55px;

        @media(max-width: $large) {
            width: 65%;
        }

        @media(max-width: $tablet) {
            width: 100%;
            padding-top: 20px;
            margin-bottom: 0;
        }

        @media(max-width: $medium) {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        margin-bottom: 25px;
        display: block;
        max-width: 415px;
        font-size: 71px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: $dark-blue;

        @media(max-width: $large) {
            margin-top: 10px;
            font-size: 45px;
            max-width: 100%;
        }

        @media(max-width: $tablet) {
            font-size: 30px;
        }

        @media(max-width: $small-phone) {
            margin-top: 10px;
            font-size: 26px;
        }
    }

    &__text {
        margin-bottom: 41px;
        max-width: 359px;
        display: block;
        font-size: 18px;
        line-height: 1.67;
        color: $grey-blue;

        @media(max-width: $tablet) {
            margin-bottom: 26px;
            font-size: 17px;
        }

        @media(max-width: $medium) {
            text-align: center;
        }

        @media(max-width: $small-phone) {
            margin-bottom: 10px;
        }
    }

    &__link {
        padding: 21px 100px 21px 27px;
        max-width: 200px;
        background-color: $sky-blue;

        @media(max-width: $tablet) {
            padding: 13px 42px 13px 27px;
            max-width: 143px;
        }

        @media(max-width: $small-phone) {
            padding: 10px 19px 10px 11px;
            max-width: 123px;
            .link-button__icon {
                display: none;
            }
        }
    }

    &__img {
        position: relative;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            right: -18%;
            top: -69%;
            display: block;
            border-radius: 50%;
            max-width: 640px;
            width: 100%;
            height: 57vmin;
            background-image: linear-gradient(-90.0deg, #fff 0%, rgba(255,255,255,0.0) 100%);
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;

            @media(max-width: $large) {
                display: none;
            }
        }

        @media(max-width: $medium) {
            max-width: 55%;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 5.6%;

    button {
        margin-right: 9px;
        font-size: 11px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        opacity: 0.3;
        background-color: #fff;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }

        @media(max-width: $tablet) {
            font-size: 0;
            width: 17px;
            height: 16px;
        }
    }
}

.slick-active {
    
    button {
        opacity: 1;
    }
}