.novelty {

    padding: 2.7% 0 3.2%;

    &__filter {
        margin: 13px 0 54px;

        @media(max-width: $small-phone) {
            margin: 20px 0 27px;
        }
    }

    &__list {
        margin-bottom: 7.6%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        @media(max-width: $large) {
            justify-content: space-around;
        }
    
        @media(max-width: $small-phone) {
            justify-content: center;
        }
    }

    &__video {
        position: relative;
        display: block;
        min-height: 46vh;
        background-image: url('../images/video/video.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            .novelty__video-icon {
                width: 145px;
                height: 145px;
            }
        }
    }

    &__video-icon {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        transition: width 0.5s, height 0.5s;

        @media(max-width: $medium) {
            width: 100px;
            height: 100px;
        }
    }

    @media(max-width: $tablet) {
        padding-top: 8%;
    }

    @media(max-width: $small-phone) {
        padding: 16% 0 3.2%;
    }
}