.novelty {

    padding: 2.7% 0 3.2%;

    &__filter {
        margin: 0 0 5%;
    }

    &__list {
        margin-bottom: 7.6%;
    }

    &__title {
        margin-bottom: 8px;
    }

    &__video {
        position: relative;
        display: block;
        min-height: 46vh;
        background-image: url('../images/video/video.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            .novelty__video-icon {
                transform: scale(1.3);
            }
        }
    }

    &__video-icon {
        position: absolute;
        right: 46.7%;
        top: 37%;
        transition: transform 0.5s;

        @media(max-width: $tablet) {
            right: 40%;
            top: 30%;
        }

        @media(max-width: $medium) {
            right: 34.7%;
            top: 29%;
            width: 100px;
            height: 100px;
        }
    }
}