.footer {

    font-size: 14px;
    color: $light-grey;

    &__columns {
        padding: 75px 0 60px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($sky-blue, 0.4);
    }

    &__column {
        max-width: 215px;
        width: 100%;

        &:not(:first-child) {
            padding-top: 21px;
        }
    
        &:not(:last-child) {
            padding-right: 10px;
        }

        &:last-child {
            max-width: 271px;
        }
    }

    &__address {
        margin-bottom: 16px;
        line-height: 1.7;
    }

    &__contacts {
        margin-bottom: 14px;
        display: block;
        font-weight: 400;
        font-size: 14px;
        color: $light-grey;
        transition: color 0.5s;
        &:hover {
            color: $sky-blue;
        }

        &:active, &:focus {
            color: $dark;
        }
        
        &--upper {
            text-transform: uppercase;
        }
    }

    &__title {
        margin-bottom: 23px;
        font-size: 16px;
        text-transform: uppercase;
        color: #1f2044;
        text-align: left;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: $light-grey;
    }

    &__text {
        margin-bottom: 29px;
        display: block;
        line-height: 1.71;
    }

    &__bottom {
        padding: 34px 0;
        display: flex;
        justify-content: space-between;
    }

    &__menu-item {
        
        &:not(:last-child) {
            margin-right: 0;
            padding: 0 16px;
            border-right: 1px solid $light-grey;
        }
    
        &:last-child {
            padding-left: 15px;
        }
    }
}