.footer-contacts {
    
    padding-right: 20px;
    width: 213px;

    &__addres {
        margin-bottom: 16px;
        font-style: normal;
        line-height: 1.7;
        color: $footerColor;
    }

    &__phone, &__email {
       color: $footerColor;
       transition: color 0.5s;
       &:hover {
           color: rgb(206, 35, 35);
       }
    }

    &__phone {
        text-transform: uppercase;
    }

    &__phone, &__email p{
        padding: 16px 0;
    }

    &__upper {
        text-transform: uppercase;
    }
}