.menu-item {

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__bottom:not(:last-child) {
        border-right: 1px solid;
        padding: 0 11px;
    }

    &__bottom:last-child {
        padding-left: 11px;
    }

    &__link {
        padding: 6px 0;
        position: relative;
        color: $footerColor;
        
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            height: 4px;
            width: 0%;
            @extend %slideColor;
            transition: width .3s ease-in-out;
        }
    
        &:hover::after {
            width: 100%;
        }
    
        &--bottom {
            padding: 14px 3px;
        }
    }
}