.header {
    position: fixed;
    z-index: 45;
    left: 0;
    right: 0;
    background-color: #fff;

    &__menu {
        padding: 43px 0;
        
        &--active {
            padding: 23px 0;
        }

        @media(max-width: $medium) {
            padding: 30px 0;
        }

        @media(max-width: $small-phone) {
            padding: 15px 0;
        }
    }

    &__menu-list {

        @media(max-width: $tablet) {
            padding-top: 26%;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            text-align: center;
            height: 100vh;
            overflow: auto;
            width: 100%;
            background-color: #fff;
            transform: translateY(-200%);
            z-index: 50;
            transition: transform 0.5s;

            &--active {
                transform: translateY(0);
            }
        }

        @media (max-width: $small-phone) {
            padding: 24% 0 0;
        }
    }

    &__burger {
        display: none;
        position: absolute;
        bottom: 32px;
        right: 20px;
        width: 44px;
        height: 44px;
        border: 1px solid #000;
        z-index: 51;

        span {
            content: '';
            position: absolute;
            top: 50%;
            left: 23%;
            right: 0;
            width: 50%;
            border: 1px solid #000;

            &::before, 
            &::after {
                content: '';
                position: absolute;
                left: 4%;
                width: 100%;
                border: 1px solid #000;
                transition: all 0.5s;
            }

            &::before {            
                bottom: 10px;
            }
    
            &::after {
                top: 10px;
            }
        }

        &:active, &:focus {
            outline: transparent;
        }

        @media(max-width: $tablet) {
            display: block;

            &--active {
                z-index: 51;

                span {
                    visibility: hidden;

                    &::before, &::after {
                        visibility: visible;
                    }

                    &::before {
                        bottom: 0;
                        transform: rotate(-45deg);
                    }
    
                    &::after {
                        top: -2px;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        @media(max-width: $small-phone) {
            bottom: 18px;
        }
    }
}