.offer {

    margin-top: 162px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media(max-width: $tablet) {
        margin-top: 110px;
    }

    &__product {
        padding: 4% 0 4% 21%;
        margin-bottom: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 1 49%;
        background-color: rgba($accent, 0.4);

        &:nth-child(2) {
            padding: 4.5% 0 4% 24%;
        }

        @media(max-width: $large) {
            &:nth-child(2) {
                padding: 4.5% 0 4% 21%;
            }
        }

        @media(max-width: $tablet) {
            margin-bottom: 0;
            align-items: center;
            flex: 0 1 100%;

            &:not(:last-child) {
                margin-bottom: 90px;
            }
        }

        @media(max-width: $medium) {
            padding: 4% 1% 6% 1%;


            &:nth-child(2) {
                padding: 4% 1% 6% 1%;
            }
        }

        @media(max-width: $small-phone) {
            padding: 4% 0 9%;

            &:nth-child(2) {
                padding: 4% 0 9%;
            }
        }
    }

    &__img {
        position: absolute;
        left: 7vw;
        bottom: 7vh;
        max-width: 12vw;

        @media(max-width: $large) {
            left: 5vw;
        }

        @media(max-width: $tablet) {
            left: 16vw;
            max-width: 16vw;
        }

        @media(max-width: $medium) {
            position: relative;
            left: 0;
            max-width: 18vw;
        }

        @media(max-width: $small-phone) {
            max-width: 26vw;
        }
    }

    &__name {
        margin-bottom: 24px;
        text-align: left;
        max-width: 342px;
        width: 100%;
        font-size: 26px;
        line-height: 1.23;

        @media(max-width: $large) {
            padding: 0 15px;
        }

        @media(max-width: $tablet) {
            max-width: 354px;
            text-align: center;
        }

        @media(max-width: $small-phone) {
            font-size: 20px;
        }
    }

    &__text {
        margin-bottom: 27px;
        max-width: 404px;
        width: 100%;
        line-height: 1.9;

        @media(max-width: $large) {
            padding: 0 15px;
        }

        @media(max-width: $tablet) {
            text-align: center;
        }
    }

    &__link {
        padding: 24px 0 25px 20px;
        max-width: 180px;
        width: 100%;
        border: solid 1px $grey-blue;
        border-radius: 5px;
        text-align: left;
        color: $grey-blue;
        fill: $dark-blue;

        @media(max-width: $small-phone) {
            padding: 12px 0 12px 12px;
            max-width: 128px;
        }
    }

    &:nth-child(2) {
        .offer__content {
            padding-right: 9%;
        }
    }
}