.offer {

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &__product {
        margin-bottom: 5.4%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 21%;
        max-width: 870px;
        width: 100%;
        min-height: 390px;
        background-color: rgba($accent, 0.4);

        &:nth-child(2) {
            padding-left: 24%;
        }
    }

    &__img {
        position: absolute;
        left: 7vw;
        bottom: 7vh;
        max-width: 12vw;
    }

    &__name {
        margin-bottom: 24px;
        text-align: left;
        max-width: 342px;
        width: 100%;
        font-size: 26px;
        line-height: 1.23;
    }

    &__text {
        margin-bottom: 27px;
        max-width: 404px;
        width: 100%;
        line-height: 1.88;
    }

    &__link {
        padding: 24px 0 25px 20px;
        max-width: 180px;
        border: solid 1px $grey-blue;
        border-radius: 5px;
        color: $dark-blue;
        
        svg {
            fill: $dark-blue;
        }
    }

    &:nth-child(2) .offer__content{
        padding-right: 9%;
    }
}