.catalog {

    padding-top: 118px;

    @media(max-width: $tablet) {
        padding-top: 90px;
    }

    @media(max-width: $medium) {
        padding-top: 65px;
    }

    @media(max-width: $small-phone) {
        padding-top: 50px;
    }

    &__inner {
        position: relative;
        display: flex;
    }

    &__content {
        width: 100%;
    }

    &__view {
        margin-bottom: 30px;
        padding: 23px 31px 21px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid rgba($sky-blue, 0.6);

        span {
            margin-top: -5px;
        }
    }

    &__switch {
        transition: fill 0.3s;

        &--active {
            fill: red;
        }

        &--filter {
            display: none;
            z-index: 10;
            transition: fill 0.3s;

            &:hover {
                fill: $accent;
            }

            &:focus {
                fill: red;
            }

            @media(max-width: $medium) {
                display: block;
            }
        }
    }

    &__switch-button {

        transition: fill 0.3s, outline-color 0.3s;

        &:hover {
            fill: red;
        }

        &:focus {
            outline-color: $accent;
        }

        &:active {
            fill: red;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $extra-large) {
            justify-content: space-around;
        }

        &--list {
            flex-direction: unset;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: 100%;
            box-shadow: none;
            
            .product {

                min-width: 100%;
                flex-direction: unset;
                justify-content: flex-start;
                box-shadow: none;

                @media(max-width: $tablet) {
                    &:not(:last-child) {
                        margin: 0 0 30px 0;
                    }
                }

                @media(max-width: $tablet) {
                    margin: 0 10px 40px 0;
                    flex-direction: column;
                    align-items: center;

                    &:last-child {
                        margin: 0;
                    }
                }

                @media(max-width: $small-phone) {
                    margin: 0 0 35px 0;
                }

                &:hover {
                    .product__top {
                        transform: scale(1.0);
                    } 

                    .product__menu {
                        right: -251px;
                    }

                    .product__menu-item {
                        &:first-child {
                            display: block;
                        }
                    }

                    @media(max-width: $extra-large) {
                        .product__menu {
                            right: -215px;
                        }
                    }

                    @media(max-width: $tablet) {
                        .product__menu {
                            right: 0;
                        }
                    }
                }
                
                &__top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 82px 23px;
                    min-width: 370px;
                    height: 100%;
                    border: 2px solid #f2f2f2;
    
                    @media(max-width: $tablet) {
                        padding: 55px 23px;
                        min-width: 320px;
                    }
    
                    @media(max-width: $small-phone) {
                        min-width: 290px;
                    }
                }
    
                &__img {
                    min-height: 338px;
                    max-width: 323px;

                    @media(max-width: $tablet) {
                        min-height: 280px;
                        max-width: 260px;
                    }
                    
                    @media(max-width: $small-phone) {
                        min-height: 220px;
                        max-width: 220px;
                    }
                }
    
                &__menu {
                    justify-content: flex-end;
                    left: 0;
                    right: -187px;
                    bottom: 50px;
                    opacity: 1;
    
                    @media(max-width: $extra-large) {
                        right: -153px;
                    }
    
                    @media(max-width: $tablet) {
                        justify-content: center;
                        left: 26px;
                        right: 0;
                        bottom: 50px;
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                }
    
                &__menu-item {
                    &:first-child {
                        display: none;
                    }
                }
    
                &__action {
                    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.13);
    
                    &:first-child {
                        border-radius: unset;
                    }
    
                    @media(max-width: $tablet) {
    
                        &:first-child {
                            border-radius: 50%;
                        }
                    }

                    &:hover {
                        background-color: $accent;
                        outline: transparent;
            
                        .product__menu-icon {
                            fill: $dark-blue;
                        }
                    }
            
                    &:focus {
                        box-shadow: 0 0 18px 0 $accent;
                    }
            
                    &:active {
                        background-color: $sky-blue;
                        box-shadow: 0 0 18px 0 $sky-blue;
            
                        .product__menu-icon {
                            fill: #fff;
                        }
                    }
                }
    
                &__box {
                    padding: 90px 15px 79px 57px;
                    align-items: flex-start;
                    max-width: 479px;
    
                    @media(max-width: $extra-large) {
                        padding: 90px 15px 79px 20px;
                    }
    
                    @media(max-width: $tablet) {
                        padding: 40px 15px 20px 20px;
                        align-items: center;
                    }
    
                    @media(max-width: $small-phone) {
                        padding: 25px 10px 20px 10px;
                    }
                }
    
                &__name {
                    margin-bottom: 25px;
                    font-size: 40px;
                    line-height: 1.2;
                    color: #333333;
    
                    @media(max-width: $tablet) {
                        font-size: 38px;
                    }
    
                    @media(max-width: $small-phone) {
                        margin-bottom: 15px;
                        font-size: 28px;
                    }
                }
    
                &__star {
                    padding: 0;
                    margin-bottom: 37px;
                    display: block;
    
                    @media(max-width: $tablet) {
                        margin-bottom: 30px;
                    }

                    @media(max-width: $small-phone) {
                        margin-bottom: 20px;
                    }
                }
    
                &__cost {
                    display: none;

                    &--list {
                        display: block;
                        margin-bottom: 36px;
                        font-size: 30px;
                        font-weight: 400;
                        font-family: 'Rubik', sans-serif;
                        color: #333333;
        
                        @media(max-width: $tablet) {
                            margin-bottom: 23px;
                        }
        
                        @media(max-width: $small-phone) {
                            margin-bottom: 20px;
                            font-size: 24px;
                        }
                    }
                }
    
                &__descr {
                    margin-bottom: 34px;
                    display: -webkit-box;
                    font-family: 'Rubik', sans-serif;
                    line-height: 1.9;
                    color: $dark-blue;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
    
                    @media(max-width: $tablet) {
                        margin-bottom: 0;
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }

}

.irs--flat .irs-line {
    top: 10px;
    height: 3px;
    background-color: rgba($sky-blue, 0.66);
    border-radius: 4px;
}

.irs-max, .irs-min {
    display: none;
}

.irs--flat .irs-bar {
    top: 10px;
    height: 4px;
    background-color: $sky-blue;
}

.irs-from, .irs-to, .irs-single {
    display: none;
}

.irs--flat .irs-handle {
    top: 4px;
    width: 15px;
    height: 15px;
    background-color: $sky-blue;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}