.terms {

    padding: 116px 0 47px;

    @media(max-width: $medium) {
        padding: 90px 0 47px;
    }

    @media(max-width: $small-phone) {
        padding: 80px 0 40px;
    }

    &__list {
        animation: fadeIn 1s;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 57px;
        }
    }

    &__title {
        margin-bottom: 27px;
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        font-weight: 500;

        @media(max-width: $medium) {
            text-align: center;
        }
    }

    &__personal {
        padding-left: 34px;
        list-style: decimal-leading-zero;
        font-family: 'Rubik', sans-serif;
    }

    &__personal-item {
        margin-bottom: 24px;
        padding-left: 6px;
    }

    &__text {
        line-height: 1.7;
        font-family: 'Rubik', sans-serif;
    }
}