.articles {

    padding-top: 54px;
    position: relative;

    &__title {
        margin-bottom: 3.8%;
        display: inline-block;

        @media(max-width: $medium) {
            margin-bottom: 8%;
        }

        @media(max-width: $small-phone) {
            margin-bottom: 0;
            display: block;
        }
    }

    &__link-more {
        padding: 19px 25px;
        float: right;
        position: relative;
        font-size: 16px;
        font-family: 'DMSans' , sans-serif;
        font-weight: 700;
        color: #262626;
        transition: color 0.3s;

        &::after {
            position: absolute;
            content: '>';
            right: 0;
        }

        &:focus {
            outline-color: $sky-blue;
            color: $grey-blue;
        }

        &:active {
            color: $sky-blue;
        }

        @media(max-width: $small-phone) {
            padding: 18px 25px 25px;
            margin-right: 0;
            display: block;
            text-align: right;
            float: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $large) {
            justify-content: space-around;
        }
        
        @media(max-width: $medium) {
            justify-content: center;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-color: rgba($accent, 0.2);
        max-height: 212px;
        height: 100%;
        width: 100%;
        bottom: 0;

        @media(max-width: $tablet) {
            display: none;
        }
    }
}